<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>here is my title</title>
</head>
<p>
<h2>
Ноокат
</h2>
<p>
В Ноокатском районе есть туннель в скале длиной 20 м. Движение по
туннелю разрешается только в одном направлении – от входа к выходу. Путь от
выхода до входа равен 60 м. Одновременно в туннеле может находиться только
один человек. Скорость пешехода - 1 м/с, скорость движения по туннелю - 0.25
м/с.
<p>
N человек находятся на различных расстояниях от входа в туннель.
Некоторые из них хотят пройти туннель один, некоторые два раза.
Через сколько секунд все люди смогут пройти туннель?
</p>

<p>
В первой строке входных данных задано натуральное число 2 ≤ N ≤ 20,
показывающее количество людей.
<br>
Во второй строке входных данных задано N различных натуральных чисел
1 ≤ ai ≤ 2018, a1 < a2 < … < aN, разделенных единичными пробелами, показывающих
начальные расстояния от людей до входа (в метрах).
<br>
    В третьей строке входных данных задано N чисел 1 ≤ bi ≤ 2, разделенных
единичными пробелами, показывающих, сколько раз i-й человек хочет пройти
туннель.
    </p>
</p>

    <table border="1">
  <tr>
    <td align="center" colspan="2">Пример</td>
    <td rowspan="5">

        <form>
    <p><b>Ваши данные:</b><br>
        <input type="number" size="40" placeholder="Колличество человек"><br>
        <input type="number" size="40" placeholder="Расстояние от пещеры"><br>
        <input type="number" size="40" placeholder="Сколько раз пройдет пещеру"><br>
        <input type="number" size="40" placeholder="Будет затрачено времени">
    </p>
    <p>
        <input type="submit" value="Отправить">
        <input type="reset" value="Очистить">
    </p>
</form>

    </td>
  </tr>
  <tr>
    <td>стандартный ввод</td>
    <td>стандартный вывод</td>
  </tr>
  <tr>
    <td>2</td>
    <td rowspan="3">309</td>
  </tr>
  <tr>
    <td>9 228</td>
  </tr>
  <tr>
    <td>2 1</td>
  </tr>
</table>

</body>
</html>